.item-detail {
    background-color: #F0F2F6;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
  
.item-number {
  color: #6E28F5;
  font-size: 30px;
  font-weight: 600;
  align-items: flex-start;
  margin:0;
}

.detail-image {
  width: 100%;
  height: 170px;
  object-fit: fill;
  border-radius: 10px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.editable-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.editable-fields label {
  font-size: 22px;
  font-weight: 500;
  color: #000000;
}

.editable-input {
  width: calc(100% - 16px); 
  height: 30px;
  padding: 0px 8px;
  border: 1px solid #703FD0;
  border-radius: 6px;
  background-color: #E4E6E8;
  color: black;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

.item-status {
  font-size: 15px;
  font-weight: 500;
  padding: 6px 15px;
  border-radius: 15px;
  max-width: fit-content;
}

.item-status.disponible {
  color: #4C8732;
  background-color: rgb(135,191,112,0.5);
}

.item-status.ocupada {
  color: #E01300;
  background-color: rgb(251,139,129,0.5);
}

.item-status.limpieza {
  color: #E19110;
  background-color: rgb(226,221,80,0.5);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.status-button {
  background-color: #703FD0;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.delete-button {
  background-color: #E01300;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .item-detail {
    padding: 10px;
  }

  .detail-image {
    height: 150px;
  }

  .editable-input {
    width: 100%;
    margin-right: 0;
  }

  .status-button,
  .delete-button {
    width: 100%;
  }
}
