.dashboard-estadisticas {
    background-color: #F0F2F6;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
  }
  
  .section-title {
    color: #6E28F5;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .row {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
  }
  
  .card {
    border-radius: 10px;
    padding: 20px;
    flex: 1;
  }
  
  .mini-cards-container {
    display: flex;
    gap: 25px;
  }
  
  .facturacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
  }
  
  .facturacion h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .facturacion-valor {
    font-size: 36px;
    color: #703FD0;
  }
  
  .servicios {
    background-color: #E4E6E8;
  }
  
  .servicios-container {
    display: flex;
    gap: 15px;
    padding-top: 20px;
    background-color: #E4E6E8;
  }


  .servicios-ingresos {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }
  
  .servicios-ingresos h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .ingresos-valor {
    font-size: 36px;
    color: #703FD0;
  }
  