.dashboard-estadisticas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #F0F2F6;
  padding: 20px;
  width: 100%;
  border-radius: 15px;
}

p.section-title{
  color: #6E28F5;
  font-weight: 600;
  font-size: 28px;
  margin: 0;
}

.stats-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1; /* Permite que las tarjetas tomen espacio igual */
  background-color: #E4E6E8;
  padding: 20px;
  border-radius: 30px;
}


.stats-card p , .narrow-card p{
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.mini-cards-container {
  display: flex;
  gap: 25px;
}

.charts-container {
  display: flex;
  flex-direction: row; /* Cambiar a fila para que los gráficos se alineen horizontalmente */
  gap: 50px; /* Espacio entre gráficos */
  margin: 0;
  padding: 10px;
}


.chart {
  flex: 1; /* Allow charts to take equal space */
}

.facturacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
}

.facturacion h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.facturacion-valor {
  font-size: 36px;
  color: #703FD0;
}

.servicios {
  background-color: #E4E6E8;
}

.servicios-container {
  display: flex;
  gap: 15px;
  padding-top: 20px;
  background-color: #E4E6E8;
}

.servicios-ingresos {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.servicios-ingresos h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.ingresos-valor {
  font-size: 36px;
  color: #703FD0;
}


.narrow-cards-container {
  display: flex;
  gap: 20px; /* Espacio entre las tarjetas angostas */
}

.narrow-card {
  flex: 1; /* Permitir que ambas tarjetas ocupen el mismo espacio */
  background-color: #E4E6E8;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.narrow-card .chart {
  flex: 1; /* Permite que el gráfico ocupe el espacio disponible */
}
