.dashboard-container {
    font-family: 'DM Sans', sans-serif;
    min-height: 100vh;
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto;
}

.dashboard-headerHotel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px; 
    flex-wrap: wrap;
}

.signin-logo {
    width: 150px;
}

h1 {
    color: #703FD0;
    text-align: center;
    font-size: 2rem;
    margin-top: -10px;
}

.hoteles-list {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    max-height: 400px; 
    overflow-y: auto;
}

.hotel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E4E8F5;
    padding: 10px; 
    border-radius: 12px;
}

.hotel-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.hotel-info {
    flex-grow: 1;
    padding-left: 10px;
    text-align: center;
}

.hotel-info h2 {
    color: #703FD0;
    margin: 0;
    font-size: 1.2rem; 
}

.hotel-info p {
    color: #000000;
    margin: 5px 0;
}

.hotel-stars {
    font-size: 1rem; 
    color: #703FD0;
}

.hotel-actions {
    display: flex;
    flex-direction: row; 
    gap: 5px; 
    justify-content: center;
}

.edit-btn, .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.edit-image, .trash-image {
    width: 15px;
    height: 15px;
}

/* Media Queries */
@media (min-width: 600px) {
    .dashboard-container {
        padding: 30px;
    }

    .signin-logo {
        width: 180px;
    }

    h1 {
        font-size: 2.2rem;
    }

    .hotel-item {
        flex-direction: row;
        padding: 15px;
    }

    .hotel-image {
        width: 90px;
        height: 90px;
    }

    .hotel-info {
        padding-left: 15px;
        text-align: left;
    }

    .hotel-info h2 {
        font-size: 1.4rem;
    }

    .hotel-stars {
        font-size: 1.1rem;
    }

    .hotel-actions {
        flex-direction: column;
        gap: 10px;
    }

    .edit-image, .trash-image {
        width: 18px;
        height: 18px;
    }
}

@media (min-width: 900px) {
    .dashboard-container {
        padding: 40px;
    }

    .signin-logo {
        width: 200px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .hotel-item {
        padding: 20px;
    }

    .hotel-image {
        width: 100px;
        height: 100px;
    }

    .hotel-info {
        padding-left: 20px;
    }

    .hotel-info h2 {
        font-size: 1.5rem;
    }

    .hotel-stars {
        font-size: 1.2rem;
    }

    .edit-image, .trash-image {
        width: 20px;
        height: 20px;
    }
}
