@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #F0F2F6;
}

.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 90%;
    padding: 20px;
    border-radius: 10px;
}

.signin-logo {
    width: 80%;
    max-width: 300px;
    margin: 30px;
}

.signin-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26.04px;
}

.signin-form input,
.signin-form button {
    margin: 10px 0;
    padding: 10px;
    color: #B2B1B1;
    border-radius: 10px;
    border: 1px solid #BB84E8;
}

.password-container {
    display: flex;
    align-items: center;
}

.password-hint {
    font-size: 14px;
    color: #888;
    margin-top: -10px;
    margin-bottom: 10px;
}

.signin-form button {
    background-color: #6E28F5; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 12px 24px; 
    border-radius: 20px; 
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: large;
}

.signin-form button:hover {
    background-color: #703FD0;
}

.signin-form h1 {
    color: #6E28F5;
    font-size: 24px;
    line-height: 32px;
    margin-top: 10px;
}

.signin-form label {
    font-size: 18px;
    line-height: 24px;
}

.signin-form a {
    color: #6E28F5;
    text-decoration: none;
}

.signin-form a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (min-width: 768px) {
    .signin-container {
        max-width: 50%;
    }
}

@media (min-width: 1024px) {
    .signin-container {
        max-width: 35%;
    }
}
