.content-container1 {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.dashboard-body1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 100%;
    flex: 1; 
}

.dashboard-top {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Resumen de tu día - cards de estadísticas */

.dashboard-resume,
.dashboard-rooms {
    height: auto;
    flex: 1;
    padding: 40px;
    background-color: #F0F2F6;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
}

.title {
    font-size: 30px;
    font-weight: 600;
    color: #6E28F5;
    margin: 0;
    width: fit-content;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
    margin: 0;
    padding: 0;
    max-width: fit-content;
}

.cards-row {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 0;
    box-sizing: border-box;
    max-width: fit-content;
}

.resume-card {
    width: 185px;
    min-height: 116px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    margin: 0;
    box-sizing: border-box;
}

.card-title {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.card-title img {
    width: 22px;
    height: 25px;
}

.card-title p {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.resume-number {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    align-self: self-end;
}

/* Fin resumen de tu día - cards de estadísticas */

/* Tabla de habitaciones libres y reservas */

.dashboard-reservations {
    padding: 30px;
    background-color: #F0F2F6;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.reservations-table {
    width: 100%;
    border-collapse: collapse;
}

.reservations-table thead {
    background-color: #F0F2F6;
    color: #6E28F5;
    text-align: left;
}

.reservations-table tbody tr {
    border-bottom: 1px solid #BB84E8;
    align-items: center;
    transition: all 0.2s ease;
}

.reservations-table th, .reservations-table td {
    padding: 15px;
    font-size: 16px;
}

.reservations-table th {
    font-weight: 600;
    font-size: 16px;
}

.reservations-table td.room-number p{
    font-weight: 500;
    font-size: 16px;
    color: #6E28F5;
    background-color: rgba(187,132,232,0.3);
    border-radius: 30px;
    padding: 8px 5px;
    margin: 0;
    text-align: center;
}

.dropdown-icon {
    font-size: 12px;
    color: #6E28F5;
    cursor: pointer;
}

.ver-btn {
    background-color: #6E28F5;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
}

/* Fin tabla de habitaciones libres y reservas */

@media (min-width:1100px) {

    .responsive-header-container {
        display: none;
    }

    div.sidebar.open.logo {
        min-width: 250px;
    }
}

@media (max-width:1100px) {


    div.sidebar.open {
        display: none;
    }

    header.dashboard-header {
        display: none;
    }

    .header-responsive {
        display: block;
    }

    div.menu-toggle {
        display: none;
    }

    .dashboard-top {
        flex-direction: column;
        gap: 20px;
    }

    .resume-card {
        width: 250px;
        min-height: 125px;
    }

    .cards-row {
        box-sizing: border-box;
    }

    tr {
        box-sizing: border-box;
        margin: 0;
    }

    .dashboard-resume {
        padding: 20px;
    }

    .dashboard-rooms {
        padding: 20px;

    }

    .dashboard-reservations {
        padding: 20px;
    }

    .reservations-table thead {
        display: none;
    }

    .reservations-table, .reservations-table tbody, .reservations-table tr, .reservations-table td {
        display: block;
        width: 100%;
    }

    .reservations-table tbody tr {
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid #BB84E8;
        border-radius: 10px;
        background-color: #FFF;
    }

    .reservations-table td {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        font-size: 16px;
    }

    .reservations-table td::before {
        content: attr(data-label); /* Usa el valor en data-label como título */
        font-weight: bold;
        color: #6E28F5;
        width: 50%; /* Ajusta el ancho si necesitas más espacio para el texto */
        text-align: left;
    }

    .ver-btn {
        width: 100%;
        text-align: center;
    }

    td:last-child::before {
        display: none;
    }

}