.page-container {
  display: flex;
  background-color: #FEFBFF;
}

.content-container {
  width: 100%;
  background-color: #FEFBFF;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.dashboard-body {
  display: flex;
}

.rooms-section {
  width: 70%;
  padding-inline: 20px;
  background-color: #F0F2F6;
  border-radius: 10px;
  margin-right: 20px;
}

.room-detail-section {
  width: 40%;
  border-radius: 10px;
}

.rooms-header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  color: #703FD0;
  margin-bottom: 10px;
}

.search-and-add {
  display: flex;
  align-items: center;
}

.rooms-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 5px;
}

.add-room-button {
  background-color: #703FD0;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.add-room-button img {
  width: 20px; 
  height: 20px;
}

@media (max-width: 768px) {
  .content-container {
    margin-left: 0;
    width: 100%;
  }

  .dashboard-body {
    flex-direction: column;
  }

  .rooms-section, .room-detail-section {
    width: 100%;
  }
}
