.page-container {
  display: flex;
  background-color: #FEFBFF;
}

.content-container {
  width: 100%;
  height: 100vh;
  background-color: #FEFBFF;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.content-container::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: white;
}

.content-container::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: #703FD0;
  border-radius: 10px;
}

.dashboard-body {
  display: flex;
  gap: 20px;
  flex-direction: row !important;
}

.rooms-section {
  padding: 20px;
  background-color: #F0F2F6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.room-detail-section {
  width: 40%;
  border-radius: 10px;
}

.rooms-header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  color: #6E28F5;
  margin-bottom: 10px;
}

.rooms-header p {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
}

.search-and-add {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rooms-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 15px;
}

.add-room-button {
  background-color: #703FD0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-width: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  min-width: 750px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #FEFBFF;
}

.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

p.modal-title {
  font-size: 30px;
  font-weight: 600;
  color: #6E28F5;
  text-align: left;
  margin: 0;
}

.uploaded-image {
  max-width: 250px;
  object-fit: cover; /* Para que la imagen se ajuste */
}

.modal-image-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-image-section label {
  font-size: 18px;
  text-align: left;
  width: 100%;
}
.upload-icon {
  width: 200px;
  border: 1px solid #6E28F5;
  border-radius: 10px;
  padding: 10px;
}

.uploaded-image {
  width: 210px;
  border: 1px solid #6E28F5;
  border-radius: 10px;
}

label.btn-change-image {
  width: 100%;
}

.modal-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-line {
  display: flex;
  display: row;
  gap: 20px;
}

.modal-field label, .image-label{
  text-align: left;
  font-size: 18px;
  margin: 0;
}

.modal-field input {
  width: 100%;
  min-width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #6E28F5;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  background: none;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-wrapper select {
  width: 100%;
  height: 40px;
  padding-right: 40px;
  border-radius: 10px;
  border: 1px solid #6E28F5;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  box-sizing: border-box;
}

/* Flecha personalizada */
.select-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 10px;
  height: 8px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgMUw1IDVsNC00IiBzdHJva2U9IiM2RTI4RjUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtY29ubmVjdD0icm91bmQiLz48L3N2Zz4='); /* Flecha SVG */
  background-repeat: no-repeat;
  background-size: 10px 8px;
  pointer-events: none;
}

.modal-buttons {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 768px) {
  .content-container {
    margin-left: 0;
    width: 100%;
  }

  .dashboard-body {
    flex-direction: column;
  }

  .rooms-section, .room-detail-section {
    width: 100%;
  }
}
