.reserva-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #E4E6E8;
    border-radius: 15px;
    width: 100%;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.reserva-card:hover {
    border: 1px solid #703FD0;
}

.reserva-left {
    display: flex;
    align-items: center;
}

.reserva-date {
    text-align: center;
    margin-right: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

.reserva-day {
    font-size: 24px;
    font-weight: bold;
    color: #703FD0; 
    margin: 0; 
}

.reserva-month {
    font-size: 18px;
    font-weight: bold;
    color: #703FD0;
    margin: 0; 
}

.reserva-info {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 5px;
}

.reserva-name {
    font-weight: bold;
    color: #000000;
    margin: 0; 
}

.reserva-room {
    font-size: 14px;
    color: #000000;
    margin: 0; 
}

.reserva-room-number {
    background-color: rgba(187, 132, 232, 0.54); 
    color: #703FD0; 
    padding: 2px 8px;
    border-radius: 10px;
}


.reserva-right {
    font-size: 16px;
    font-weight: bold;
    color: #B884E8;
    text-align: right; 
}

.buttons-reserva {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reserva-detail {
    background-color: #F0F2F6;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
  }
  
  .reserva-number {
    color: #6E28F5;
    font-size: 30px;
    font-weight: 600;
    align-items: flex-start;
    margin:0;
    font-family: 'DM Sans', sans-serif;
  }
  
  .reserva-fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .reserva-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .reserva-field label {
    font-size: 22px;
    font-weight: 500;
    color: #000000;
  }
  
  .reserva-input {
    border: 1px solid #703FD0;
    border-radius: 5px;
    padding: 8px;
    background-color: #E4E6E8;
    font-size: 14px;
    color: #000;
  }
  
  .reserva-services {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .reserva-services li {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #000;
  }
  
  .service-price {
    font-weight: 700;
  }
  
  .divider-line {
    border: none;
    border-top: 1px solid black;
    margin: 0; 
    width: 100%;
  }
  
  .reserva-total, .reserva-remaining {
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
  }
  
  .reserva-remaining {
    color: #703FD0;
  }

  .reserva-total-price {
    color: #000;
  }
  
  .reserva-remaining-price {
    color: #703FD0;
    font-weight: bold;
  }
  
  .reserva-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .btn-reserva {
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border: none;
  }
  
  .abonar {
    background-color: #703FD0;
  }
  
  .agregar-servicio {
    background-color: #703FD0;
  }
  
  .cancelar {
    background-color: #E01300;
  }
  
  .btn-reserva:hover {
    opacity: 0.9;
  }
  