.dashboard-header {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end; 
    padding: 5px;
    border-radius: 10px;
  }
  
  .hotel-title {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
  .edit-icon {
    margin: 0; 
    margin-left: 20px;
  }
  
  .hotel-name {
    margin: 0; 
    line-height: 24px; 
    display: flex;
    align-items: center; 
    font-size: large;
    color: black;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    margin: 0;
  }
  