:root {
    --primary-color: #703FD0;
    --secondary-color: #E4E6E8;
    --accent-color: #BB84E8;
    --danger-color: #E01300;
    --success-color: #4C8732;
    --warning-color: #E19110;
    --text-color: black;
    --background-color: #F0F2F6;
  }
  
  body {
    background-color: var(--background-color);
    font-family: 'DM Sans', sans-serif;
  }
  
  .container {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
  }
  
  .button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border: none;
  }
  
  .button-primary {
    background-color: var(--primary-color);
  }
  
  .button-danger {
    background-color: var(--danger-color);
  }
  
  @media (max-width: 768px) {
    .responsive-column {
      flex-direction: column;
    }
  
    .full-width {
      width: 100%;
    }
  }
  