@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.login-logo {
    width: 300px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26.04px;
}

.login-form input {
    margin: 10px 0;
    padding: 10px;
    color: #B2B1B1;
    border-radius: 10px;
    border: 1px solid #B2B1B1;
}

.password-container {
    display: flex;
    align-items: center;
}

.show-password-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -30px;
}

.login-button {
    background-color: #6200ee; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 12px 24px; 
    border-radius: 20px; 
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: large;
}

.login-button:hover {
    background-color: #8A2BE2;
}

.login-form h1 {
    color: #6200ee;
    font-size: 24px;
    line-height: 32px;
}

.login-form label {
    font-size: 18px;
    line-height: 24px;
}

.login-form a {
    text-decoration: none;
    font-size: 14px; 
    color: black;
}

.login-form a:hover {
    text-decoration: underline;
}
